<p>pipes works!</p>
<h3> {{ name | uppercase }} </h3>
<h3> {{ name2 | lowercase }} </h3>
<h3> {{name | titlecase}} </h3>
<h3> {{name | slice:3}}  </h3> // here starting index 3 
<h3> {{name | slice:6}} </h3> // here starting index 6
<h3> {{name | slice:6:12}} </h3> // here starting index 6 and ending index n-1 = 11
<h3> {{ person}} </h3> // here dont display object data
<h3> {{ person | json }} </h3> // here  display object data with json format

<h2> {{ months | slice:0:4 }} </h2>  // here 0 is the 1st indexof array and ending index n-1 = 3

<h2>{{ 3.789 | number:'2.5-7' }}  ----(input is 3.789 | before dot(.) we write 2 its mean we want 2 digit before point and after dot(.) we write 5 - 7 its mean we want 5 to 7 digit after point here 5 is minimum and 7 is maximum)</h2>
<h2>{{ 3.789 | number:'1.1-2' }} </h2>

<h2>{{ 0.75 | percent }} ---its show percentage</h2>

<h2>  {{23 | currency:'INR':'symbol'}}</h2>


<hr>
<hr><hr>
<h1 [style.backgroundColor]="'BLUE'" style="text-align: center;">.... DATE PIPES ....</h1>
<h4> {{ mydate }} -----normal date</h4>  <!-- Sun Dec 18 2022 22:50:48 GMT+0530 (India Standard Time) -->
<h4> {{ mydate | date:'short' }} ----short</h4>  <!-- 12/18/22, 10:50 PM -->
<h4> {{ mydate | date:'medium' }} ----medium</h4>  <!-- Dec 18, 2022, 10:50:48 PM -->
<h4> {{ mydate | date:'long' }} ----long</h4>   <!-- December 18, 2022 at 10:50:48 PM GMT+5 -->
<h4> {{ mydate | date:'full' }} -----full </h4>  <!-- Sunday, December 18, 2022 at 10:50:48 PM GMT+05:30 -->
<h4> {{ mydate | date:'shortDate' }} ----shortDate</h4>  <!-- 12/18/22 -->
<h4> {{ mydate | date:'mediumDate' }} ---mediumDate</h4>  <!--  Dec 18, 2022 -->
<h4> {{ mydate | date:'longDate' }} ---longDate</h4>  <!-- December 18, 2022 -->
<h4> {{ mydate | date:'fullDate' }} ---fullDate</h4> <!-- Sunday, December 18, 2022 -->
<h4> {{ mydate | date:'shortTime' }} ---shortTime</h4>  <!--10:50 PM -->
<h4> {{ mydate | date:'longTime' }} ---longTime</h4>     <!-- 10:50:48 PM GMT+5 -->
<h4> {{ mydate | date:'mediumTime' }} ---mediumTime</h4>  <!-- 10:50:48 PM -->
<h4> {{ mydate | date:'fullTime' }} ---fullTime</h4>  <!-- 10:50:48 PM GMT+05:30 -->
<h4> {{ mydate | date:'h' }} ---only hour</h4>  <!-- 10 -->
<h4> {{ mydate | date:'m' }} ----only min</h4>  <!-- 50 -->
<h4> {{ mydate | date:'s' }} ---only sec</h4>  <!-- 48 -->
<h4> {{ mydate | date:'a' }} ---am/pm</h4>  <!-- pm-->
<h4> {{ mydate | date:'d' }} ---only date</h4>  <!-- 18-->
<h4> {{ mydate | date:'M' }} ---only months</h4>  <!-- 12 -->
<h4> {{ mydate | date:'y' }} ---only year</h4>  <!-- 2022 -->
<h4> {{ mydate | date:'W' }} ---only week of the month </h4>  <!-- 4 -->
<h4> {{ mydate | date:'w' }} ---only week of the year</h4>  <!-- 51 -->
